/*--------------------------------------------------------------
# Grid Columns
--------------------------------------------------------------*/
.col-12-wrapper, .col-8-wrapper, .col-6-wrapper,
.col-4-wrapper, .col-2-wrapper {
    @include center-block;
}

.col-12-wrapper {
    max-width: $px-col-12-width;
    max-width: $rem-col-12-width;
}

.col-10-wrapper {
    max-width: $px-col-10-width;
    max-width: $rem-col-10-width;
}

.col-8-wrapper {
    max-width: $px-col-8-width;
    max-width: $rem-col-8-width;
}

.col-6-wrapper {
    max-width: $px-col-6-width;
    max-width: $rem-col-6-width;
}

.col-4-wrapper {
    max-width: $px-col-4-width;
    max-width: $rem-col-4-width;
}

.col-2-wrapper {
    max-width: $px-col-2-width;
    max-width: $rem-col-2-width;
}