/*--------------------------------------------------------------
# Form Elements
--------------------------------------------------------------*/
form {
    background-color: $gray-bg-color;
    border-radius: px(5);
    border-radius: rem(5);
    padding: px(8 * $vertical-rhythm-multiple);
    padding: rem(8 * $vertical-rhythm-multiple);
}

form ul, form ol,
form ul ul, form ul ol,
form ol ul, form ol ol {
    @include reset-list;
    margin: 0;
}

form li {
    margin-bottom: px($base-line-height);
    margin-bottom: rem($base-line-height);
}

label {
    @include font-setting($font-family-alt, normal, 400);
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
}

input[type=text], input[type=email], input[type=url], input[type=password],
input[type=search], input[type=color], input[type=date], input[type=datetime],
input[type=datetime-local], input[type=number], input[type=range], input[type=tel],
input[type=time], input[type=week], input[type=file], textarea, select {
    @include typeset($font-family-alt, normal, 500);
    @include appearance(none);
    background-color: $white;
    border: px(2 * $vertical-rhythm-multiple) solid $light-border-color;
    border-radius: 0;
    color: $text-color;
    display: inline-block;
    font-size: inherit;
    padding: px(4 * $vertical-rhythm-multiple) px(9 * $vertical-rhythm-multiple);
    padding: rem(4 * $vertical-rhythm-multiple) rem(9 * $vertical-rhythm-multiple);
}

input[type=text], input[type=email], input[type=url], input[type=password],
input[type=search], input[type=color], input[type=date], input[type=datetime],
input[type=datetime-local], input[type=number], input[type=range], input[type=tel],
input[type=time], input[type=week], input[type=file], textarea, select {
    transition: all 0.25s ease-in-out 0s;
    width: 100%;
}

input[type=text], input[type=email], input[type=url], input[type=password],
input[type=search], input[type=color], input[type=date], input[type=datetime],
input[type=datetime-local], input[type=tel], input[type=time], input[type=week],
input[type=file], select {
    max-width: 100%;
    width: px(120 * $vertical-rhythm-multiple);
    width: rem(120 * $vertical-rhythm-multiple);
}

input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus,
input[type=search]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime]:focus,
input[type=datetime-local]:focus, input[type=number]:focus, input[type=range]:focus, input[type=tel]:focus,
input[type=time]:focus, input[type=week]:focus, textarea:focus, select:focus {
    border-color: $primary-button-color;
}

textarea {
    height: px(240);
    height: rem(240);
    line-height: inherit;
    resize: none;
    overflow: auto;
}

select {
    cursor: pointer;
    margin: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {
    select {
        background-color: $white;
        background-image: url(../../assets/images/select_@2x.png);
        background-position: 100% 50%;
        background-repeat: no-repeat;
        background-size: 36px auto;
    }
}

input[type=radio], input[type=checkbox] {
    display: inline-block;
    margin-right: px(3 * $vertical-rhythm-multiple);
    margin-right: rem(3 * $vertical-rhythm-multiple);
    top: -(px(1 * $vertical-rhythm-multiple));
    top: -(rem(1 * $vertical-rhythm-multiple));
    vertical-align: middle;
}

input[type=submit], button[type=submit], input[type=button] {
    @include font-settings($font-family-alt, normal, 400);
    @include appearance(none);
    background-color: $primary-button-color;
    border: none;
    border-radius: px(4);
    border-radius: rem(4);
    color: $white;
    font-size: inherit;
    margin: 0;
    padding: px(4 * $vertical-rhythm-multiple) px(8 * $vertical-rhythm-multiple);
    padding: rem(4 * $vertical-rhythm-multiple) rem(8 * $vertical-rhythm-multiple);
    transition: all 0.25s ease-in-out 0s;
}

input[type=submit]:hover, button[type=submit]:hover, input[type=button]:hover {
    background-color: $primary-button-color-hover;
    cursor: pointer;
}

:-moz-placeholder {
    color: $seventy-percent-gray;
    opacity: 1;
}

::-moz-placeholder {
    color: $seventy-percent-gray;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: $seventy-percent-gray;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $seventy-percent-gray;
    opacity: 1;
}

.rq {
    color: $stop-color;
}

.form-messages {
    color: $success-color;
}

/*--------------------------------------------------------------
# Comment Form
--------------------------------------------------------------*/
#commentform {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    p {
        @include font-setting($font-family-alt, normal, 400);
        @include typeset($base-font-size, (7 * $vertical-rhythm-multiple));
        margin-bottom: px(4 * $vertical-rhythm-multiple);
        margin-bottom: rem(4 * $vertical-rhythm-multiple);
    }
    .form-rules {
        margin-bottom: px($base-line-height);
        margin-bottom: em($base-line-height);
    }
    .form-submit {
        text-align: right;
    }
    label {
        @include screen-reader;
    }
}

/*--------------------------------------------------------------
# Search Form
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Alternate Search Form
--------------------------------------------------------------*/